<nav aria-label="breadcrumb" style=" width: 100%; margin : 30px 0px 0px 95px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">User Info</li>
  </ol>
</nav>

<div class='container' style=" margin : 0px 0px 0px 50px;">
  <div class="card" style='width: 100%; display:flex; margin : 30px 0px 0px 30px;'>
    <h5 class="card-header">{{cook.cookFirstName}}&nbsp;{{cook.cookLastName}}&nbsp;&nbsp;&nbsp;<a [routerLink]="['/user/userlogin/true/cookpersonalprofile/updatedetails']">Edit
        Details</a></h5>
    <a (click)="openModal(template)" style="margin: 0px auto 0px auto;"><img #profile [src]="imageUrl" class="card-img-top img-rounded"
        style="width: auto !important;
      height: 300px !important;
      margin: 0 auto 1em auto;"></a>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Contact : {{cook.cookContact}}</li>
        <li class="list-group-item">Gender :{{cook.cookGender}}</li>
        <li class="list-group-item">Fee :{{cook.cookFeePerMonth}}</li>
        <li class="list-group-item">Fee :{{cook.cookRating}}</li>
      </ul>
      <h6 class="card-title">Food Type : {{cook.foodType[0]}}&nbsp;{{cook.foodType[1]}}&nbsp;{{cook.foodType[2]}}</h6>
      <p class="card-text">Cook Description.</p>
      <!-- <a (click)='sendRequest()' class="btn btn-primary">Go somewhere</a> -->
      <button type="button" class="btn btn-primary" (click)="openModal(template)" style="margin-left:10px;">Upload
        Image</button>
      <button type="button" class="btn btn-primary" (click)="openModal(updateProfileImage)" style="margin-left:10px;">Update
        Profile Image</button>
      <button type="button" class="btn btn-primary" (click)="openModal(recipe)" style="margin-left:10px;">Upload Recipe
        Image</button>
      <button type="button" class="btn btn-primary" (click)="deactivateAccount()" style="margin-left:10px;">De-Activate
        Account</button>
    </div>
  </div>
</div>


<nav aria-label="breadcrumb" style="width: 100%; margin : 30px 0px 0px 95px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"> Your Recipe Images</li>
  </ol>
</nav>



<div class='container' style=" margin : 0px 50px 0px 50px;">

  <div class="card" *ngFor='let image of cook.sampleRecipeImages' style='display:inline-block; width: 300px; margin : 30px 0px 0px 30px;'>
    <img #profile src="http://localhost:9090/api/cook/getCookRecipeImage/{{cook.userName}}/{{image.imageId}}"
      class="card-img-top img-rounded" style="width: auto !important;
      height: 300px !important;
      margin: 0 auto 1em auto;">
    <div class="card-body">
      <button type="button" class="btn btn-primary" (click)="deleteRecipeImage(image.imageId)"
        style="margin-left:10px;">Delete
        Image</button>
    </div>
  </div>
</div>


<nav aria-label="breadcrumb" style="width: 100%;margin : 30px 0px 0px 95px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Registered Users</li>
  </ol>
</nav>

<div class='container' style=" margin : 0px 50px 0px 50px;">

  <div class="card" *ngFor='let user of users' style='display:inline-block; width: 300px; margin : 30px 0px 0px 30px;'>
    <!--  <img #profile src="http://localhost:8080/cook/getCookRecipeImage/{{cook.userName}}/{{this.cook.sampleRecipeImages[index].imageId}}" class="card-img-top img-rounded"
     style = "width: auto !important;
      height: 300px !important;
      margin: 0 auto 1em auto;"> -->
    <div class="card-body">
      <p>Username:&nbsp;{{user.userName}}</p>
      <p>Name:&nbsp;{{user.userFirstName}}&nbsp;{{user.userLastName}}</p>
      <button type="button" class="btn btn-primary" (click)="deRegisterCookToUser(user.userName)" style="margin-top:10px;">De-Register&nbsp;User</button>
    </div>
  </div>
</div>

<nav aria-label="breadcrumb" style="width: 100%; margin : 30px 0px 0px 95px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"> Reviews <button type="button" class="btn btn-primary"
        (click)="getReviews()" style="margin-left:1000px; display:inline-block;">Show</button></li>
  </ol>

</nav>

<div class="container" *ngIf='isReviews' style=" margin : 0px 50px 0px 50px;">
  <div class="card" *ngFor='let review of reviews' style='display:inline-block; width: 300px; margin : 30px 0px 0px 10px;'>
    <div class="card-body">
      <p>Username:&nbsp;{{review.userName}}</p>
      <p>Review:&nbsp;{{review.review}}</p>
    </div>
  </div>
</div>



<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Upload Profile Photo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" style="display:inline-block; margin:0px 0px 0px 30px">
      <label>Upload Profile Image</label>
      <input id='profileImage' name="profileImage" type="file" class="form-control-file" (change)="selectFile($event)">
      <button type="button" class="btn btn-primary" (click)="onProfileFileChanged()">Upload Image</button>
    </div>
  </div>
</ng-template>


<ng-template #recipe>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Upload Recipe Photo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" style="display:inline-block; margin:0px 0px 0px 30px">
      <label>Upload Recipe Image</label>
      <input id='recipeImage' name="recipeImage" type="file" class="form-control-file" (change)="selectFile($event)"
        multiple>
      <button type="button" class="btn btn-primary" (click)="onRecipeFileChanged()">Upload Recipe Image</button>
    </div>
  </div>
</ng-template>
<ng-template #updateProfileImage>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Upload Profile Photo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" style="display:inline-block; margin:0px 0px 0px 30px">
      <label>Upload Profile Image</label>
      <input id='updateProfileImage' name="recipeImage" type="file" class="form-control-file" (change)="selectFile($event)">
      <button type="button" class="btn btn-primary" (click)="onProfileImageUpdated()">Upload Profile Image</button>
    </div>
  </div>
</ng-template>